@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.bgclass{
  background-image: url(/public/bg-main-page.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
} */

